:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-bg: rgba(47, 48, 58, 0.5);

  --link-clr: hsl(237, 100%, 70%);
  --link-hover-clr: hsl(237, 86%, 64%);
  
  --light-gray-clr: hsl(60, 4%, 47%);
  --light-blue-gray-clr: hsl(208, 37%, 20%);
}

a {
  font-weight: 500;
  color: var(--link-clr);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-clr);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--link-clr);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(208, 37%, 20%);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Navigation */
.nav-container {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  padding: 0 1.5em;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: .5em;
  text-align: left;
}

table thead th {
  background: hsl(0, 0%, 25%);
}

table  td {
  border-bottom: 1px solid hsl(0, 0%, 15%);
}

.table-background {
  background: black;
  border-radius: 10px;
}

.student-profile__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Login and Sign Layout */
.login-signup-page {
  display: flex;
}

.login-signup-page a {
  padding: 0px .5em;
}

.login-signup-page a.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(140, 100%, 32%);
  border-radius: 30px;
}

/* Sign Up Page */
.signup-request-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 3em;
}

.signup-request-page button {
  margin: 1em;
}

.signup-request-page__role:hover {
  color: hsl(108, 100%, 50%);
}

/* Login Page */
.login__login-request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 3em;
}

.login__login-request-form form {
  display: flex;
  flex-direction: column;
}

/* Regis Forms */
.regis-form.center {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 50em;
  justify-content: center;
  align-items: center;
}

/* Logout */
.nav__logout:hover {
  text-decoration: underline;
  color: hsl(108, 100%, 50%);
}

/* List of Students Page */
.students-page__search-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Create Student Account */
.student-profile__create-student-account:hover {
  text-decoration: underline;
  color: hsl(155, 100%, 42%);
}

.users-table__title-save-cancel-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teachers-table__title-edit-delete-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Users Table (Admin) */
.users-table__add-and-delete-btn {
  display: flex;
}

.users-table__in-add-btn-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

/* Admin */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Student Quizzes Page */
.quiz-nav {
  margin-inline: auto;
  max-width: 56.5rem;
  border: 1px solid var(--light-blue-gray-clr);
  border-radius: 1rem;

  .isActive {
    color: white;
    background-color: var(--link-clr);
    border-radius: 0.3rem;
  }
  
  .quiz-quarter-nav a {
    padding: 0.2rem 1rem;
  }

  .quiz-subject-nav a {
    padding: 0.2rem 0.5rem;
  }

  :is(.quiz-quarter-nav, .quiz-subject-nav) {
    padding: 0.5rem;
    padding-right: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;

    > span {
      text-align: end;
      font-weight: bold;
      /* border: 1px solid red; */
    }
    
    > div {
      gap: 1.5rem;
      padding: 0.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background-color: var(--accent-bg);
      border-radius: 0.5rem;
    }
  }
}

.add-new-quiz-record {
  > form {
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 1rem;
    max-width: 450px;
    min-width: 0;
    border: 1px solid;
    border-radius: 1rem;

    > div {
      gap: 1rem;
      margin-bottom: 0.5rem;
      display: grid;
      grid-template-columns: 200px 200px;
      text-align: end;
    }

    > .submit-btn {
      display: flex;
      justify-content: space-evenly;
    }
  }
}